@import "../variables.scss";

$mainClip: polygon(
    20px 0,
    60% 0,
    65% 5%,
    calc(100% - 20px) 5%,
    100% calc(5% + 20px),
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
); 
$gradientHorizontal:linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
$gradientVertical: linear-gradient(90deg, black 0%,  rgba(255, 255, 255, 0.09) 50%, black 100%);
$gradientVerticalReverse:linear-gradient(90deg, rgba(255, 255, 255, 0.09) 0%, black 50%, rgba(255, 255, 255, 0.09) 100%);
$deepPurple: #1e151e;
$metalBg: url("../../images/gun-metal.png");

.MovieDetails {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: "Abel";
    .MovieDetails__main--outer {
        width: 95vw;
        height: 95vh;
        min-width: 300px;
        min-height: 500px;
        background: black;
        max-width: 500px;
        max-height: 700px;
        background: $deepPurple;
        clip-path: $mainClip;
        border-radius: 10px;
        .MovieDetails__main--inner {
            position: relative;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            margin: 2px;
            background: black;
            clip-path: $mainClip;
            border-radius: 10px;
            .MovieDetails__title--outer {
                max-width: 100%;
                height: calc(5% - 1px);
                padding: 0 calc(35% + 3%) 0 3%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 2px solid $deepPurple;
                background: $metalBg, $gradientHorizontal;
                .MovieDetails__title--inner {
                    max-width: 90%;
                    font-size: $mediumFontSize;
                    .MovieDetails__title--base {
                        background: black;
                        border: $deepPurple 5px solid;
                        border-top: none;
                        border-bottom: none;
                        border-radius: 7px;
                        .MovieDetails__title {
                            height: 100%;
                            padding: 0 1vw;
                            background: $gradientVerticalReverse;
                            color: #89cdeb;
                            line-height: 4.5vh;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            text-shadow: -1px -1px 1px black, 1px 1px 1px black;
                            text-align: center;
                        }
                    }
                }
            }
            .MovieDetails__btn-box--outer {
                position: absolute;
                top: calc(5% - 2px);
                right: 0;
                width: 35%;
                height: 5%;
                background: $deepPurple;
                border-bottom-left-radius: 10px;
                clip-path: polygon(-1px 0, 100% 0, 100% 100%, 20px 100%);
                z-index: 5;
                .MovieDetails__btn-box--middle {
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    margin: 0 0 2px 2px;
                    background: black $metalBg;
                    border-bottom-left-radius: 10px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 19px 100%);
                    .MovieDetails__btn-box--inner {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-bottom-left-radius: 10px;
                        background: $gradientHorizontal;
                        .MovieDetails__btn-box__btn-base {
                            background: black;
                            width: 4.7vh;
                            height: 100%;
                            border: $deepPurple 5px solid;
                            border-top: none;
                            border-bottom: none;
                            border-radius: 7px;
                            button {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: $gradientVerticalReverse;
                                color: deeppink;
                                border: none;
                                font-size: 3vh;
                                cursor: pointer;
                            }
                            button:hover {
                                font-size: 4vh;
                            } 
                        }
                    }
                }
            }
            .MovieDetails__poster {
                width: calc(100% - 40px);
                height: calc(90% - 37px);
                margin: 0 20px 10px 20px;
                color: white;
                .MovieDetails__poster-img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .MovieDetails__details {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        align-items: flex-start;
                        .MovieDetails__details__label {
                            position: relative;
                            max-width: calc(100% - 15px);
                            height: 12%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 calc(5% + 20px) 0 5%;
                            background: rgba(0, 0, 0, 0.9);
                            border-bottom: 1px solid $deepPurple;
                            clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
                            &:hover {
                                animation: movie-details-labal-anim 0.2s ease-in;
                            }
                            div {
                                max-width: 50%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .MovieDetails__details__label--end {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 15px;
                                height: 100%;
                                transform: skewX(16deg);
                                opacity: 0.9;
                            }
                        }
                        .MovieDetails__details__summary {
                            height: 36%;
                            width: 90%;
                            padding: 5%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: rgba(0, 0, 0, 0.9);
                            animation: details-summary-out-anim 0.3s ease-out;
                        }
                        #MovieDetails__label--genre {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            div:not(.MovieDetails__details__label--end) {
                                padding: 0 2%;
                            }
                        }
                    }
                }
            }
            .MovieDetails__frame--left--outer {
                position: absolute;
                width: 20px;
                height: 95%;
                top: 5%;
                left: 0;
                clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 0 100%);
                background: $deepPurple;
                border-bottom-left-radius: 10px;
                .MovieDetails__frame--left--middle {
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    margin: 1px;
                    background-image: $metalBg;
                    background-color: black;
                    border-bottom-left-radius: 10px;
                    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), 0 100%);
                    .MovieDetails__frame--left--inner {
                        width: 100%;
                        height: 100%;
                        background: $gradientVertical;
                        border-bottom-left-radius: 10px;
                    }
                }
            }
            .MovieDetails__frame--right--outer {
                position: absolute;
                width: 20px;
                height: 95%;
                top: 5%;
                right: 0;
                clip-path: polygon(5% 5%, 100% 5%, 100% 100%, 0 calc(100% - 20px));
                background: $deepPurple;
                border-bottom-right-radius: 10px;
                .MovieDetails__frame--right--middle {
                    width: calc(100% - 4px);
                    height: calc(100% - 3px);
                    margin: 1px 3px;
                    background-image: $metalBg;
                    background-color: black;
                    border-bottom-right-radius: 10px;
                    clip-path: polygon(5% 5%, 100% 5%, 100% 100%, 0 calc(100% - 18px));
                    .MovieDetails__frame--right--inner {
                        width: 100%;
                        height: 100%;
                        background: $gradientVertical;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
            .MovieDetails__frame--bottom--outer {
                position: absolute;
                width: 100%;
                height: 10%;
                bottom: 0;
                left: 0;
                background: $deepPurple;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                clip-path: polygon(
                    20px 0,
                    calc(100% - 20px) 0,
                    calc(100% - 20px) calc(100% - 20px),
                    100% 100%,
                    0 100%,
                    20px calc(100% - 20px)
                );
                .MovieDetails__frame--bottom--middle {
                    width: calc(100% - 4px);
                    height: calc(100% - 3px);
                    margin: 2px 3px;
                    background-image: $metalBg;
                    background-color: black;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    clip-path: polygon(
                        17px 0,
                        calc(100% - 18px) 0,
                        calc(100% - 18px) calc(100% - 20px),
                        100% 100%,
                        0 100%,
                        17px calc(100% - 17px)
                    );
                    .MovieDetails__frame--bottom--inner {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $gradientHorizontal;
                        color: white;
                        border-radius: 10px;
                        .MovieDetails__button-box {
                            width: calc(100% - 50px);
                            height: 4.5vh;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .MovieDetails__button-box__btn {
                                width: 26%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: #1e151e 5px solid;
                                background: black linear-gradient(90deg, rgba(255, 255, 255, 0.09) 0%, black 20%, black 80%, rgba(255, 255, 255, 0.09) 100%);
                                border-top: none;
                                border-bottom: none;
                                border-radius: 10px;
                                cursor: pointer;
                                .MovieDetails__stock, .MovieDetails__details--on {
                                    color: #99eeae;
                                }
                                .MovieDetails__details--off {
                                    color: deeppink;
                                }
                                &:last-child {
                                    cursor: default;
                                }
                                &:not(:last-child):hover {
                                    font-size: 2.5vh;
                                }
                                &:nth-child(2) {
                                    color: #89cdeb;
                                    width: 18%;
                                    font-family: "Abel";
                                    font-size: $mediumFontSize;
                                    &:hover:not(:disabled) { font-size: 2.8vh; }
                                    &:disabled { 
                                        color:rgb(167, 19, 98);
                                        cursor: default;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#MovieDetails__label--genre .MovieDetails__details__label--end { background: deeppink; }
#MovieDetails__label--cast .MovieDetails__details__label--end { background: palegoldenrod; }
#MovieDetails__label--year .MovieDetails__details__label--end { background: greenyellow; }
#MovieDetails__label--time .MovieDetails__details__label--end { background: orange; }
#MovieDetails__label--sum .MovieDetails__details__label--end { background: lightseagreen; }


@keyframes movie-details-labal-anim {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-20px)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes details-summary-out-anim {
    from {
        height: 0%;
    }
    to {
        height: 36%;
    }
}