@import "../variables.scss";

.Admin {
    position: fixed;
    margin: 0;
    padding: 2.5vh 2.5vw;
    top: 0; left: 0;
    width: 95vw; height: 95vh;
    background: rgba(7, 3, 7, 0.9);
    color: white;
    font-family: "Abel";
    font-size: $mediumFontSize;
    border-radius: 5px;
    overflow: hidden;
    .Admin__body {
        width: 100%;  height: 95%;
        border: $borderLight;
        border-top: none;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
};

.Admin__header {        
    width: 100%; height: 5%;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    filter: blur(0);
    -webkit-filter: blur(0);
    border-top-left-radius: 5px;    
    border-top-right-radius: 5px;    
    .Admin__header__tag {
        height: 100%; width: 23.75%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        div { // reason of wrapping is text truncation => flex won't let text-overflow-ellipsis
            overflow: hidden;
            min-width: 0;
            white-space: nowrap; 
            text-overflow: ellipsis;
        }
        &:not(.active) { 
            min-width: 80px;
            border: $borderLight;
        }
        &.active {
            border: $borderLight;
            border-bottom: none;
            font-size: 3vh;
            text-decoration: underline;
            background: rgba(0, 0, 0, 0.8);
        }
        &:first-child { border-top-left-radius: 5px; }
        &:nth-child(4) { border-top-right-radius: 5px; }
    }
    #Admin__close-btn {
        height: calc(100% + 1px); 
        width: 5%;
        min-width: 20px;
        display: flex;
        margin-left: auto; // last item takes rest of space => falls to right
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        color: deeppink;
        border-bottom: $borderLight;
        cursor: pointer;
        &:hover {
            font-size: 3.5vh;
        }
    }
}