@import "../variables.scss";

.Admin {
    position: fixed;
    margin: 0;
    padding: 2.5vh 2.5vw;
    top: 0; left: 0;
    width: 95vw; height: 95vh;
    background: rgba(7, 3, 7, 0.9);
    color: white;
    font-family: "Abel";
    font-size: $mediumFontSize;
    border-radius: 5px;
    overflow: hidden;
    .Admin__body {
        position: relative;
        width: 100%;  height: 95%;
        border: $borderLight;
        border-top: none;
        border-right: none;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .Admin__body-upper-right-corner {
            position: absolute;
            top: -1px;
            right: -1px;
            width: calc(5% + 1px);
            height: 100%;
            border: $borderLight;
            border-left: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            z-index: 300;
        }
    }
};

.Admin__header {        
    width: 100%; height: 5%;
    display: flex;
    filter: blur(0);
    -webkit-filter: blur(0);
    border-top-left-radius: 5px;    
    border-top-right-radius: 5px;    
    .Admin__header__tag {
        width: 23.75%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        &:hover { font-size: 3vh; }
        div { // reason of wrapping is text truncation => flex won't let text-overflow-ellipsis
            overflow: hidden;
            min-width: 0;
            white-space: nowrap; 
            text-overflow: ellipsis;
        }
        &:not(.active) { 
            border: $borderLight;
        }
        &.active {
            border: $borderLight;
            border-bottom: none;
            font-size: 3vh;
            text-decoration: underline;
            background: rgba(0, 0, 0, 0.8);
        }
        &:first-child { border-top-left-radius: 5px; }
        &:nth-child(4) { border-top-right-radius: 5px; }
    }
    #Admin__close-btn {
        width: 5%;
        min-width: 20px;
        display: flex;
        margin-left: auto; // last item takes rest of space => falls to right
        justify-content: center;
        align-items: center;
        button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80%;
            border: $borderLight;
            border-top-right-radius: 15px;
            background: rgba(0, 0, 0, 0.8);
            color: deeppink;
            font-size: 3vh;
            cursor: pointer;
            &:hover {
                font-size: 3.5vh;
                font-weight: bold;
            }
        }
    }
}