@import "../variables.scss";

#ShoppingCart {
    position: absolute;
    right: 0;
    padding: 1vh;
    border: $borderLight;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.8);
     .ShoppingCart__movies {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .ShoppingCart__movie {
            min-width: 15vw;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ShoppingCart__title, .ShoppingCart__price { padding: 0.5vh; }
            .ShoppingCart__title--out-of-stock { color: deeppink; }
            .ShoppingCart__title { text-align: left; }
            .ShoppingCart__price { 
                display: flex;
                align-items: center;            
                text-align: right;
                font-style: italic;
                color: $lightPurple;
                font-size: 2.1vh;
                button {
                    margin-left: 1vh;
                    padding: 0 0 0.3vh 0;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: deeppink;
                    font-size: 2.3vh;
                    background: transparent;
                    background: rgba(255, 255, 255, 0.05);
                    border: $borderLight;
                    border-radius: 50%;
                    width: $mediumFontSize;
                    height: $mediumFontSize;
                    border-right: none;
                    border-bottom: none;
                    cursor: pointer;
                }
                button:hover {
                    font-size: 2.4vh;
                    border:  $borderLight;
                    border-left: none;
                    border-top: none;
                    
                }
            }
            &:nth-child(even) { background: rgba(255, 255, 255, 0.05); }
            &:nth-child(odd) { background: rgba(0, 0, 0, 0.05); }
        }
    }
    .ShoppingCart__final {
        border-top: $borderLight;
        .ShoppingCart__total {
            padding: 1vh 4vh 1vh 0.5vh;
            display: flex;
            justify-content: space-between;
            span {
                font-style: italic;
                color: $lightPurple;
                font-size: 2.1vh;
            }
        }
        .ShoppingCart__rent-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                padding: 0.5vh 2vh;
                border-radius: 5px;
                border: $borderLight;
                border-right: none;
                border-bottom: none;
                background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
                color: #80d1e7;
                font-family: "Helvetica Neue";
                font-size: $mediumFontSize;
                cursor: pointer;
            }
            button:hover {
                background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
                border: $borderLight;
                border-left: none;
                border-top: none;
            }
            button[disabled] {
                color: black;
            }
        }
        .ShoppingCart__out-of-stock-msg, .ShoppingCart__not-signed-in-msg {
            padding: 1vh 0.5vh;
            color: deeppink;
            font-size: 2vh;
        }
    }
    .ShoppingCart__successful-transaction {
        margin: 0.5vh 0;
        padding: 1vh 1vh;
        border: $borderLight;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.9);
        font-size: 2.3vh;
        color: $primaryColor;
        p {
            padding: 2vh 1vh;
        }
        button {
            margin: 0.5vh 0;
            padding: 0.5vh 2vh;
            border-radius: 5px;
            border: $borderLight;
            border-right: none;
            border-bottom: none;
            background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
            color: #80d1e7;
            font-family: "Helvetica Neue";
            font-size: $mediumFontSize;
            cursor: pointer;
        }
        button:hover {
            background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
            border: $borderLight;
            border-left: none;
            border-top: none;
        }
    }
}