@import "../variables.scss";

.Header {
    background: transparent; /* Old browsers */
    background: -moz-linear-gradient(90deg, $darkShade__Mild 0%, transparent 50%, $darkShade__Mild 100%);
    background: -webkit-linear-gradient(90deg, $darkShade__Mild 0%, transparent 50%, $darkShade__Mild 100%);
    background: linear-gradient(90deg, $darkShade__Mild 0%, transparent 50%, $darkShade__Mild 100%);
    padding: 0.2vh 1vw 0.2vh 0;
    font-size: $mediumFontSize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $borderLight;
  }

  .Header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header__logo__img {
    padding: 0 0.5vw;
    width: $mainFontSize;
    height: $mainFontSize;
    background-image: url("../../images/tv-logo.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
    transform: rotate(-15deg);
    font-size: 4.5vh;
  }
  
  .Header__logo__text {
    font-size: $mainFontSize;
    color: #ffb366;
    padding: 0.5vh 0;
    text-shadow:
    0 0px 7px rgb(156, 3, 3),
    1px 1px 2px white,
    0 -3px 2px rgba(255, 255, 255, 0.5),
    0 3px 3px rgba(0, 0, 0, 0.9),
    0 2px 2px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    transform: translateX(-0.7vw);
  }
 
  
  .Header__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div {
      padding: 0.5vw;
      cursor: pointer;
    }
    & > div:hover {
      background: rgba(255, 255, 255, 0.05);
    }
  }