@import "../variables.scss";

.Header {
    position: fixed;
    width: calc(100vw - (100vw - 100%) - 4vw);
    background: transparent; /* Old browsers */
    background: -moz-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.3) 50%, black 100%);
    background: -webkit-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.3) 50%, black 100%);
    background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.3) 50%, black 100%);
    padding: 0.2vh 2vw 0.2vh 2vw;
    font-size: $mediumFontSize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #452e4e;
    color: white;
    z-index: 50;
  }

  .Header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 45vw;
    background-image: url("../../images/bingemania_text-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 50%;
  }
  
  .Header__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5vh 1vw;
    cursor: pointer;
    #Header__icons__shopping-cart, .Header__icons__user__avatar {
      margin-left: 1vw;
      width: 5.5vh;
      height: 5.5vh;
      background: rgba(255, 255, 255, 0.075);
      border-radius: 50%;
      border: $borderLight;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-width: 2px;
      &:hover {
        background: rgba(0, 0, 0, 0.075);
        border-top: none;
        border-bottom-color: $purple;
        border-right-color: $purple;
        border-top-color: transparent;
        border-left-color: transparent;
      }
      img {
        margin: 0.5vh;
        width: 4.5vh;
        height: 4.5vh;
        border-radius: 50%;
      }
    }
    #Header__icons__genres {
      &:hover {
        border-bottom: $borderLight;
      }
      div {
        padding: 0.5vh;
      }
    }
  }