$primaryBackground: #070307;
$primaryColor: rgb(192, 241, 245);
$mainFontSize: 3.8vh;
$mediumFontSize: 2.5vh;
$largeFontSize: 3vh;
$darkShade__Mild: rgba(0, 0, 0, 0.95);
$purple: #452e4e;
$borderLight: 1px solid $purple;
$lightPurple: #ab94b3;
$userWarningColor: #eb1495;
$mainFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;