$primaryBackground: #070307;
$primaryColor: rgb(192, 241, 245);
$mainFontSize: 3.8vh;
$mediumFontSize: 2.5vh;
$darkShade__Mild: rgba(0, 0, 0, 0.95);
$borderLight: 1px solid #452e4e;
$userWarningColor: #eb1495;