@import "../variables.scss";

.AdminTransactions {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    .AdminTransactions__header {
        height: 7%;
        border-bottom: $borderLight;
        form {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            div {
                display: flex;
                border: $borderLight;
                border-radius: 5px;
                & > button:first-of-type {
                    padding: 0 3px;
                    border-radius: 0;
                    font-size: 2vh;
                }
                & > button:last-of-type {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                input {
                    border-right: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
            input {
                padding-left: 5px;
                border: $borderLight;
                border-radius: 5px;
                font-size: $mediumFontSize;
                background: rgba(255, 255, 255, 0.05);
                font-family: "Abel";
                color: $primaryColor;
            }
            button {
                padding: 0.5vh 2vw;
                border: $borderLight;
                border-right: none;
                border-bottom: none;
                border-radius: 5px;
                background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
                color: #80d1e7;
                font-family: "Abel";
                font-size: $mediumFontSize;
                cursor: pointer;
                &:hover {
                    background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
                    border: $borderLight;
                    border-left: none;
                    border-top: none;
                }
            }
        }
    }
    .AdminTransactions__body {
        height: 90%;
        width: 98%;
        margin: 1%;
        border: $borderLight;
        table {
            width: 100%;
            padding: 0 2%;
            border-collapse: collapse;
            tr td{
                max-width: 0; // overflow needs it
                padding: 1px 1%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .active { color: $lightPurple; }
            th { border-left: $borderLight; }
            th:first-child, th:nth-child(2) { border-left: none; }
            tr th:first-child { width: 20px; }
            tr td:first-child { 
                padding-left: 0;
                font-size: 2vh;
                color: lightseagreen;
            }
            tr:first-child { border-bottom: $borderLight; }
            tr:nth-child(even) { background: rgba(255, 255, 255, 0.05); }
            tr:hover { background: rgba(255, 255, 255, 0.1); }
            tr th:last-child { width: 70px; }
            tr td:last-child { text-align: right; }
            tr:last-child { border-bottom: $borderLight; }
        }
    }
}