@import "../variables.scss";

.AdminTransactions {
    height: 100%;
    width: 100%; 
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    .AdminTransactions__header {
        height: 5%;
        padding: 1% 0;
        border-bottom: $borderLight;
        display: flex;
        justify-content: space-between;
        form {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 1%;
            .AdminTransactions__filter-by {
                margin-right: 2%;
                display: flex;
                border: $borderLight;
                border-radius: 5px;
                & > button:first-of-type {
                    padding: 0 3px;
                    border-radius: 0;
                    font-size: 2vh;
                }
                & > button:last-of-type {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                input {
                    border-right: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
            input {
                padding-left: 5px;
                border: $borderLight;
                border-radius: 5px;
                font-size: $mediumFontSize;
                background: rgba(255, 255, 255, 0.05);
                font-family: "Abel";
                color: $primaryColor;
            }
            button {
                padding: 0.5vh 2vw;
                border: $borderLight;
                border-right: none;
                border-bottom: none;
                border-radius: 5px;
                background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
                color: #80d1e7;
                font-family: "Abel";
                font-size: $mediumFontSize;
                cursor: pointer;
                &:hover {
                    background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
                    border: $borderLight;
                    border-left: none;
                    border-top: none;
                }
            }
        }
        .AdminTransactions__filter--open div{
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .AdminTransactions__pagination {
            margin-right: 1%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border: $borderLight;
            border-radius: 5px;
            color: $lightPurple;
            z-index: 33000;
            font-style: italic;
            input {
                width: 30px;
                height: 100%;
                border: $borderLight;
                font-size: $mediumFontSize;
                background: rgba(255, 255, 255, 0.05);
                font-family: "Abel";
                text-align: center;
                font-style: italic;
                color: $primaryColor;
            }
            .invalid { color: deeppink; }
            span { padding: 0 5px; cursor: default; }
            button {
                height: 100%;
                width: 25px;
                padding: 0.5vh 0;
                border: $borderLight;
                border-right: none;
                border-bottom: none;
                background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
                font-family: "Abel";
                color: #80d1e7;
                font-size: 2vh;
                cursor: pointer;
                &:first-child { border-radius: 5px 0 0 5px; }
                &:last-child { border-radius: 0 5px 5px 0; font-size: 3.2vh; line-height: 3vh; padding-bottom: 2vh;}
                &:hover {
                    background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
                    border: $borderLight;
                    border-left: none;
                    border-top: none;
                }
            }
            button:disabled { color: black; }
        }
    }
    .AdminTransactions__body {
        position: relative;
        height: 86%;
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1%;
        border: $borderLight;
        z-index: 3000;
        .Admintransactions__main-table {
            width: 100%;
            padding: 0 2%;
            border-collapse: collapse;
            cursor: pointer;
            tr th { position: relative; }
            tr td{
                max-width: 0; // overflow needs it
                padding: 1px 1%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            tr th span:last-child {
                width: 20px; 
                float: right; 
                font-size: 2vh; 
                color: $primaryColor;
            }
            .active { color: $lightPurple; }
            th { border-left: $borderLight; }
            th:first-child, th:nth-child(2) { border-left: none; }
            th:nth-child(2) { width: 150px; }
            th:last-child { z-index: 3000; }
            tr th:first-child { width: 20px;  cursor: default; }
            tr td:first-child { 
                padding-left: 0;
                font-size: 2vh;
                color: lightseagreen;
            }
            tr:first-child { border-bottom: $borderLight; }
            tr:nth-child(even) { background: rgba(255, 255, 255, 0.05); }
            tr:hover { background: rgba(255, 255, 255, 0.1); }
            tr th:last-child { width: 80px; }
            tr td:last-child { text-align: right; }
            tr:last-child { border-bottom: $borderLight; }
        }
        .AdminTransactions__complete-line-info {
            width: 90%;
            border: $borderLight;
            border-radius: 5px;
            p {
                color: $lightPurple;
                text-align: center;
                font-size: 2.2vh;
            }
            table {
                border-top: $borderLight;
                border-collapse: collapse;
                width: 100%;
                tr td { padding-left: 0.5vh; }
            }
            table:nth-child(2) tr:first-child { border-bottom: $borderLight; }
            table:nth-child(2) tr td:last-child { border-left: $borderLight; }
            table:nth-child(2) tr td:last-child, table:nth-child(3) tr td:last-child { width: 50%; }
        }
        .AdminTransactions__complete-line-info__movies-pagination {
            display: flex;
            justify-content: space-between;
            button {
                width: 70px;
                margin: 2px;
                padding: 0 1vh;
                border: $borderLight;
                border-right: none;
                border-bottom: none;
                background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
                font-family: "Abel";
                color: #80d1e7;
                font-size: 2vh;
                cursor: pointer;
                &:hover {
                    background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
                    border: $borderLight;
                    border-left: none;
                    border-top: none;
                }
                &:first-child { border-bottom-left-radius: 5px; }
                &:last-child { border-bottom-right-radius: 5px; }
            }
            button:disabled { color: black; }
        }
    }
    #AdminTransactions__filter-settings {
        position: absolute;
        top: 0;
        left: 0;
        height: 65vh;
        margin: 1%;
        background: black;
        border: $borderLight;
        border-top: none;
        z-index: 3001;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > div {
            width: 98%;
            margin: 1%;
            padding: 1%;
            display: flex;
            align-items: center;
            span { width: 30%; }
            div {
                width: 70%;
                display: flex;
                justify-content: flex-end;
                input {margin: 0 1%;}
                input:invalid { color: deeppink; }
            }
        }
    }
}