@import "../variables.scss";

.AdminMovies{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    .AdminMovies__subheader {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-evenly;
        .AdminMovies__subheader__tag {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 33.3%;
            cursor: pointer;
            &:hover { font-size: 3vh; }
            &:not(.active) {
                background: #242224;
                border: $borderLight;
                border-top: none;
            }
            &:last-child { border-top-right-radius: 5px;}
        }
        .active {
            font-size: 3vh;
            text-decoration: underline;
            border-top: none;
        }
    }
}


.AdminMovies__get-title {
    padding: 2%;
    width: 96%;
    form {
        width: 100%;
        height: 10%;
        min-height: 20px;
        padding: 0 0 2% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: $borderLight;
        input {
            padding-left: 5px;
            min-width: 80px;
            border: $borderLight;
            border-radius: 5px;
            font-size: $mediumFontSize;
            background: rgba(255, 255, 255, 0.05);
            font-family: $mainFontFamily;
            color: $primaryColor;
        }
        button {
            padding: 0.5vh 2vw;
            border: $borderLight;
            border-right: none;
            border-bottom: none;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
            color: #80d1e7;
            font-family: $mainFontFamily;
            font-size: $mediumFontSize;
            cursor: pointer;
            &:hover {
                background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
                border: $borderLight;
                border-left: none;
                border-top: none;
            }
        }
    }
    table {
        width: 100%;
        height: 90%;
        padding: 0 2%;
        border-collapse: collapse;
        tr td{
            max-width: 0; // overflow needs it
            padding: 1px 1%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:last-child {
                text-align: right;
                color: $lightPurple;
            }
        }
        tr:nth-child(even) { background: rgba(255, 255, 255, 0.05); }
        tr { cursor: pointer; }
        tr:hover { background: rgba(255, 255, 255, 0.1); }
    }
}


.AdminMovies__add-movie{
    margin: 2%;
    padding: 2%;
    width: 96%;
    height: 90%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: $borderLight;
    .AdminMovies__add-movie__btn-div {
        display: flex;
        justify-content: center;    
        height: 5%;
        button {
            padding: 0.5vh 2vw;
            border: $borderLight;
            border-right: none;
            border-bottom: none;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
            color: #80d1e7;
            font-family: $mainFontFamily;
            font-size: $mediumFontSize;
            cursor: pointer;
            &:hover {
                background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
                border: $borderLight;
                border-left: none;
                border-top: none;
            }
        }   
    }    
     > div {
        display: flex;
        div:first-child { width: 20%; }
        div:last-child { width: 80%; }
        .AdminMovies__poster__url { 
            text-decoration: underline;
            cursor: pointer;
            color: $primaryColor; 
        }
    }
    div:nth-child(4) { flex: 0 0 0; }
}

#AdminMovies__add-movie__poster {
    position: absolute;
    top: 0;
    left: 50%;
    width: 70vw;
    max-width: 340px;
    height: 70vh;
    max-height: 800px;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.09) contain no-repeat center;
    border: 5px double $purple;
    border-radius: 10px;
    transform: translateX(-50%);
    button {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: $borderLight;
        background: rgba(0, 0, 0, 0.8);
        color: deeppink;
        font-size: 2.5vh;
        cursor: pointer;
        &:hover {
            font-weight: bold;
            font-size: 3vh;
        }
    }
}

.AdminMovies__message {
    position: absolute;
    width: 300px;
    height: 150px;
    padding: 1%;
    top: calc(50vh - 75px);
    left: calc(50vw - 150px);
    border: 6px double $purple;
    border-radius: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    button {
        padding: 0.5vh 2vw;
        border: $borderLight;
        border-right: none;
        border-bottom: none;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
        color: #80d1e7;
        font-family: $mainFontFamily;
        font-size: $mediumFontSize;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
            border: $borderLight;
            border-left: none;
            border-top: none;
        }
    }
}

.AdminMovies__movies {
    margin: 2%;
    padding: 1% 2%;
    width: 92%;
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: $borderLight;
    table {
        width: 100%;
        height: 90%;
        border: $borderLight;
        border-collapse: collapse;
        table-layout: fixed;
        tr {
            &:first-child td { border-bottom: $borderLight; }
            max-width: 100%;
            &:nth-child(even) { background: rgba(255, 255, 255, 0.05); }
            &:hover { background: rgba(255, 255, 255, 0.1); }
            td {
                padding-left: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:first-child { width: 20%; }
                &:nth-child(2), &:nth-child(5), &:nth-child(6) { width: 45px; text-align: right; }
            }
        &:first-child { text-align: center; }
        //    &:first-child td:nth-child(2) { text-align: center; }

        }
        tr .ColumnResizer { width: 0px !important; border-right: 1px solid $purple;  }
    }
    &>div>div { width: 100%; overflow-y: hidden !important; } // custom scroll was out of div
    .AdminMovies__movies__pagination {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    button {
        width: auto;
        margin: 0 5px;
        padding: 2px;
        border: $borderLight;
        border-right: none;
        border-bottom: none;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.2) 50%, black 100%);
        color: #80d1e7;
        font-family: $mainFontFamily;
        font-size: $mediumFontSize;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.05) linear-gradient(black 0%, rgba(255, 255, 255, 0.09) 50%, black 100%);
            border: $borderLight;
            border-left: none;
            border-top: none;
        }
    }
    button:first-child { margin-left: 0; }
    button:last-child { margin-right: 0; }
}